{% extends "account/base_entrance.html" %}
{% load allauth i18n socialaccount static %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block entrance_title %}{% trans "Password Reset" %}{% endblock %}
{% block entrance_subtitle_wrapper %}{% endblock %}

{% block entrance_content %}
    <p class="">
        {% blocktrans %}
            We have sent you an email.
            <br>
            <br>
            If you have not received it please check your spam folder.
            <br>
            <br>
            Otherwise, contact us if you do not receive it in a few minutes.{% endblocktrans %}
    </p>
{% endblock %}
