x-app: &app
  build: .
  restart: always
  image: speedpy-image-suffix
  volumes:
    - .:/code
  links:
    - db
    - redis
  depends_on:
    - db
    - redis
services:
  redis:
    image: redis
  #    ports:
  #      - "6379:6379"

  db:
    image: postgres
    environment:
      - POSTGRES_USER=speedpycom
      - POSTGRES_PASSWORD=speedpycom
      - POSTGRES_DB=speedpycom
  #    ports:
  #      - "5432:5432"
  web:
    <<: *app
    command: python manage.py runserver 0.0.0.0:9000
    ports:
      - "127.0.0.1:9000:9000"

  media:
    image: nginx
    volumes:
      - ./media:/usr/share/nginx/html
    ports:
      - "127.0.0.1:9001:80"
  #  tailwind:
  #    image: node:20.11-bullseye
  #    volumes:
  #      - .:/code
  #    environment:
  #      - NODE_ENV=development
  #    command: /bin/bash -c 'cd /code/ && npm install && npm run tailwind:watch'
  celery:
    <<: *app
    command: celery -A project.celeryapp:app  worker -Q default -n speedpycom.%%h --loglevel=DEBUG --max-memory-per-child=512000 --concurrency=1

  celery-beat:
    <<: *app
    command: celery -A project.celeryapp:app beat -S redbeat.RedBeatScheduler  --loglevel=DEBUG --pidfile /tmp/celerybeat.pid

#  celery-flower:
#    build: .
#    restart: always
#    command: celery -A project.celeryapp:app flower --loglevel=DEBUG --port=9090 --basic_auth=speedpycom:testpassword
#    ports:
#      - "127.0.0.1:9090:9090"
#    env_file:
#      - .env
#    volumes:
#      - .:/code
#    links:
#      - db
#      - redis
##      - rabbitmq
#    depends_on:
#      - db
#      - redis
##      - rabbitmq

