{% load static %}
<nav class="top-nav">
    <div
            class="top-nav-inner"
             x-data="{open: false}"
    >
        <a href="/" class="top-nav-brand">
            <img
                    src="{% static "mainapp/speedpy_logo.png" %}"
                    class="top-nav-logo"
                    alt="SpeedPy Logo"
            />
            <span class="top-nav-title">SpeedPy</span>
        </a>
        <div class="top-nav-actions">
            <!-- Theme Toggle Button -->
            <button
                    id="theme-toggle"
                    type="button"
                    class="top-nav-icon-button mr-2"
                    aria-label="Toggle theme"
                    title="Toggle theme"
            >
                <!-- Light Mode Icon (Sun) -->
                <svg data-theme-icon="light" class="w-5 h-5 hidden" fill="currentColor" viewBox="0 0 20 20" aria-hidden="true">
                    <path d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z" fill-rule="evenodd" clip-rule="evenodd"/>
                </svg>
                <!-- Dark Mode Icon (Moon) -->
                <svg data-theme-icon="dark" class="w-5 h-5 hidden" fill="currentColor" viewBox="0 0 20 20" aria-hidden="true">
                    <path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"/>
                </svg>
                <!-- Auto Mode Icon (Desktop/Monitor) -->
                <svg data-theme-icon="auto" class="w-5 h-5 hidden" fill="currentColor" viewBox="0 0 20 20" aria-hidden="true">
                    <path fill-rule="evenodd" d="M3 5a2 2 0 012-2h10a2 2 0 012 2v8a2 2 0 01-2 2h-2.22l.123.489.804.804A1 1 0 0113 18H7a1 1 0 01-.707-1.707l.804-.804L7.22 15H5a2 2 0 01-2-2V5zm5.771 7H5V5h10v7H8.771z" clip-rule="evenodd"/>
                </svg>
            </button>
            {% include "components/nav_auth.html" %}
            <button
                    @click="open = !open"
                    type="button"
                    class="top-nav-icon-button ml-1 lg:hidden"
                    aria-controls="mobile-menu-2"
                    :aria-expanded="open ? 'true' : 'false'"
            >
                <span class="sr-only">Open main menu</span>
                <svg
                        class="block w-6 h-6 align-middle"
                        fill="currentColor"
                        viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                            fill-rule="evenodd"
                            d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                            clip-rule="evenodd"
                            class=""
                    ></path>
                </svg>
                <svg
                        class="hidden w-6 h-6 align-middle"
                        fill="currentColor"
                        viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                            fill-rule="evenodd"
                            d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                            clip-rule="evenodd"
                            class=""
                    ></path>
                </svg>
            </button>
        </div>
        <div
                class="top-nav-menu"
                id="mobile-menu-2"
                :class="open ? '!flex' : ''"
        >
            <ul class="top-nav-list">

                <li class="top-nav-item">
                    <a
                            href="{% url "pricing" %}"
                            class="top-nav-link"
                    >Pricing</a>
                </li>
                <li class="top-nav-item">
                    <a
                            href="#"
                            class="top-nav-link"
                    >FAQ</a>
                </li>

                <li class="top-nav-item">
                    <a
                            href="{% url "contact" %}"
                            class="top-nav-link"
                    >Contact</a>
                </li>
                <li class="top-nav-item">
                    <a
                            href="#"
                            class="top-nav-link"
                    >Blog</a>
                </li>
                <li class="top-nav-item">
                    <a
                            href="https://docs.speedpy.com/"
                            target="_blank"
                            rel="noopener noreferrer"
                            class="top-nav-link"
                    >Docs</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
